.about-top {
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}
.about-top .top-text {
  width: 550px;
}
.about-top img {
  width: 400px;
}
.top-text h1 {
  margin-bottom: 30px;
}
.top-text .about-text h4 {
  margin-bottom: 10px;
}
.about-text p {
  color: gray;
}
.about-bottom {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  align-items: center;
  margin-top: 80px;
  gap: 30px;
}
.about-bottom img {
  width: 400px;
}
